@charset "utf-8";
/* CSS Document */

body{margin:0; font-family:Arial,Verdana,Tahoma,"微软雅黑","黑体";}
*{box-sizing:border-box;}
input{border:none;}
ul{margin:0; padding:0;}
li{list-style:none; display:block;}
p{margin:0;}

.clearfix:before,.clearfix:after{
	display:table;
	content:"";
}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}

a{
	text-decoration:none; 
	color:#000000;
	border:0;
}
a:link{
	text-decoration:none; 
	color:#000000;
}
a:visited{
	text-decoration:none; 
	color:#000000;
}
a:hover{
	text-decoration:none; 
	color:#000000;
}
a:active{
	text-decoration:none; 
	color:#000000;
}